<% if flash.any? %>
  <div class="flash-messages mb-4">
    <% flash.each do |type, message| %>
      <% if message.is_a?(String) %>
        <div class="alert <%= type.to_s == 'notice' ? 'alert-success' : 'alert-danger' %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>