<% if can?(:admin, Spree::Store) %>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= Spree.t(:new) %>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
      <% Spree.admin_new_items_dropdown_items.each do |item| %>
        <% if can?(item[:ability], item[:resource]) %>
          <%= link_to_with_icon item[:icon], item[:url], { class: 'dropdown-item', title: item[:label] } %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>